@import '../../styles/colors.scss';

.header {
  background-color: $primary;
  display: flex;
  flex-direction: column;
  border-top: 10px solid $primaryDark;
  align-items: center;

  img {
    margin-top: 32px;
  }

  h1 {
    color: $white;
    margin: 16px 0px 32px;
  }
}
